<div class="header-menu">
  <mat-nav-list class="list-horizontal">
    <mat-list-item class="list-item" a routerLink="/planetlist">
        Planets
        <mat-divider class="list-divider" [vertical]="true"></mat-divider>
    </mat-list-item>
    <mat-list-item class="list-item" a routerLink="/spaceshiplist">
        Space Vehicles
        <mat-divider class="list-divider" [vertical]="true"></mat-divider>
    </mat-list-item>
    <mat-list-item class="list-item" a routerLink="/search">
        Search
        <mat-divider class="list-divider" [vertical]="true"></mat-divider>
    </mat-list-item>
    <mat-list-item class="list-item">
      <a href="https://www.geektrust.in">Geek Trust</a>
  </mat-list-item>
</mat-nav-list>
</div>