/* .error-title {
  padding-top: 100px;
  width: auto;
  text-align: center;
} */
.error-title {
  color: #212121;
  background-color: #bdbdbd;
  left: 0;
  right: 0;
  padding-top: 80px;
  height: 110px;
  display: block;
  font-size: 200%;
  text-decoration: bold;
  text-align: center;
}

.error-message {
  padding-top: 100px;
  width: auto;
  text-align: center;
}
